services:
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    container_name: Demofrontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
  
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: Demobackend
    dns:
      - 8.8.8.8
      - 8.8.4.4
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env